<h1>Search Products</h1>

<%= form_tag products_search_path, method: :get do %>
  <%= label_tag :search_query, "Search by product name:" %>
  <%= text_field_tag :search_query, params[:search_query], placeholder: "Enter search query" %>
  <%= submit_tag "Search" %>
<% end %>


<% if @products.any? %>
  <h2>Search Results:</h2>
    <% @products.each do |product| %>
      Product : <%= product.name %><br>
      Price : <%= product.price %><br>
      Description : <%= product.description %><br>
    <% end %>
<% else %>
  <p>No products found.</p>
<% end %>